In [1]:
#Importing essential libraries
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time

# Question 1
***Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.***

In [2]:
page=requests.get("http://en.wikipedia.org/wiki/Main_Page")

In [3]:
#page.content

In [4]:
soup=BeautifulSoup(page.content,'html.parser')

In [5]:
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])

In [6]:
#Creating list and appending headers in that list
header_titles=[]
for i in titles:
    
    header_titles.append(i.get_text().replace("\n",""))
header_titles

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

In [7]:
#Saving Headers in a dataframe
import pandas as pd
headers=pd.DataFrame({})
headers['Header']=header_titles
headers

                           Header
0                       Main Page
1   From today's featured article
2                Did you know ...
3                     In the news
4                     On this day
5        Today's featured picture
6        Other areas of Wikipedia
7     Wikipedia's sister projects
8             Wikipedia languages
9                 Navigation menu
10                 Personal tools
11                     Namespaces
12                       Variants
13                          Views
14                           More
15                         Search
16                     Navigation
17                     Contribute
18                          Tools
19                   Print/export
20              In other projects
21                      Languages

# Question 2
***Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of
release) and save it in form of a CSV file.***

In [8]:
page=requests.get("https://www.imdb.com/chart/top/")

In [9]:
#page.content

In [10]:
soup=BeautifulSoup(page.content,'html.parser')

In [11]:
#Creating empty lists to be appended later
Movie_Name=[]
IMDB_Rating=[]

In [12]:
movies=soup.find_all('td', class_='titleColumn')

In [13]:
for i in movies:
    
    Movie_Name.append(i.get_text().replace("\n",""))
Movie_Name

['      1.      The Shawshank Redemption(1994)',
 '      2.      The Godfather(1972)',
 '      3.      The Godfather: Part II(1974)',
 '      4.      The Dark Knight(2008)',
 '      5.      12 Angry Men(1957)',
 "      6.      Schindler's List(1993)",
 '      7.      The Lord of the Rings: The Return of the King(2003)',
 '      8.      Pulp Fiction(1994)',
 '      9.      Il buono, il brutto, il cattivo(1966)',
 '      10.      The Lord of the Rings: The Fellowship of the Ring(2001)',
 '      11.      Fight Club(1999)',
 '      12.      Forrest Gump(1994)',
 '      13.      Inception(2010)',
 '      14.      The Lord of the Rings: The Two Towers(2002)',
 '      15.      Star Wars: Episode V - The Empire Strikes Back(1980)',
 '      16.      The Matrix(1999)',
 '      17.      Goodfellas(1990)',
 "      18.      One Flew Over the Cuckoo's Nest(1975)",
 '      19.      Shichinin no samurai(1954)',
 '      20.      Se7en(1995)',
 '      21.      La vita è bella(1997)',
 '      22.      Cidade de Deus(2002)',
 '      23.      The Silence of the Lambs(1991)',
 "      24.      It's a Wonderful Life(1946)",
 '      25.      Star Wars(1977)',
 '      26.      Saving Private Ryan(1998)',
 '      27.      Sen to Chihiro no kamikakushi(2001)',
 '      28.      The Green Mile(1999)',
 '      29.      Interstellar(2014)',
 '      30.      Gisaengchung(2019)',
 '      31.      Léon(1994)',
 '      32.      The Usual Suspects(1995)',
 '      33.      Seppuku(1962)',
 '      34.      The Lion King(1994)',
 '      35.      The Pianist(2002)',
 '      36.      Back to the Future(1985)',
 '      37.      Terminator 2: Judgment Day(1991)',
 '      38.      American History X(1998)',
 '      39.      Modern Times(1936)',
 '      40.      Psycho(1960)',
 '      41.      Gladiator(2000)',
 '      42.      City Lights(1931)',
 '      43.      The Departed(2006)',
 '      44.      The Intouchables(2011)',
 '      45.      Whiplash(2014)',
 '      46.      Hotaru no haka(1988)',
 '      47.      The Prestige(2006)',
 '      48.      Once Upon a Time in the West(1968)',
 '      49.      Casablanca(1942)',
 '      50.      Nuovo Cinema Paradiso(1988)',
 '      51.      Rear Window(1954)',
 '      52.      Alien(1979)',
 '      53.      Apocalypse Now(1979)',
 '      54.      Hamilton(2020)',
 '      55.      Memento(2000)',
 '      56.      The Great Dictator(1940)',
 '      57.      Raiders of the Lost Ark(1981)',
 '      58.      Django Unchained(2012)',
 '      59.      The Lives of Others(2006)',
 '      60.      Joker(2019)',
 '      61.      Paths of Glory(1957)',
 '      62.      WALL·E(2008)',
 '      63.      The Shining(1980)',
 '      64.      Avengers: Infinity War(2018)',
 '      65.      Sunset Blvd.(1950)',
 '      66.      Witness for the Prosecution(1957)',
 '      67.      Oldeuboi(2003)',
 '      68.      Mononoke-hime(1997)',
 '      69.      Spider-Man: Into the Spider-Verse(2018)',
 '      70.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '      71.      The Dark Knight Rises(2012)',
 '      72.      Once Upon a Time in America(1984)',
 '      73.      Aliens(1986)',
 '      74.      Kimi no na wa.(2016)',
 '      75.      Coco(2017)',
 '      76.      Avengers: Endgame(2019)',
 '      77.      American Beauty(1999)',
 '      78.      Braveheart(1995)',
 '      79.      Das Boot(1981)',
 '      80.      3 Idiots(2009)',
 '      81.      Toy Story(1995)',
 '      82.      Capharnaüm(2018)',
 '      83.      Tengoku to jigoku(1963)',
 '      84.      Amadeus(1984)',
 '      85.      Inglourious Basterds(2009)',
 '      86.      Star Wars: Episode VI - Return of the Jedi(1983)',
 '      87.      Good Will Hunting(1997)',
 '      88.      Taare Zameen Par(2007)',
 '      89.      Reservoir Dogs(1992)',
 '      90.      2001: A Space Odyssey(1968)',
 '      91.      Requiem for a Dream(2000)',
 '      92.      Vertigo(1958)',
 '      93.      M - Eine Stadt sucht einen Mörder(1931)',
 '      94.      Jagten(2012)',
 '      95.      Eternal Sunshine of the Spotless Mind(2004)',
 '      96.      Citizen Kane(1941)',
 '      97.      Dangal(2016)',
 '      98.      Full Metal Jacket(1987)',
 '      99.      Ladri di biciclette(1948)',
 "      100.      Singin' in the Rain(1952)",
 '      101.      The Kid(1921)',
 '      102.      North by Northwest(1959)',
 '      103.      Snatch(2000)',
 '      104.      A Clockwork Orange(1971)',
 '      105.      1917(2019)',
 '      106.      Scarface(1983)',
 '      107.      Ikiru(1952)',
 '      108.      Idi i smotri(1985)',
 '      109.      Taxi Driver(1976)',
 '      110.      Lawrence of Arabia(1962)',
 '      111.      Toy Story 3(2010)',
 '      112.      Amélie(2001)',
 '      113.      Jodaeiye Nader az Simin(2011)',
 '      114.      The Sting(1973)',
 '      115.      Incendies(2010)',
 '      116.      Metropolis(1927)',
 '      117.      Per qualche dollaro in più(1965)',
 '      118.      The Apartment(1960)',
 '      119.      Double Indemnity(1944)',
 '      120.      To Kill a Mockingbird(1962)',
 '      121.      Up(2009)',
 '      122.      Indiana Jones and the Last Crusade(1989)',
 '      123.      Heat(1995)',
 '      124.      L.A. Confidential(1997)',
 '      125.      Die Hard(1988)',
 '      126.      Green Book(2018)',
 '      127.      Monty Python and the Holy Grail(1975)',
 '      128.      Yôjinbô(1961)',
 '      129.      Batman Begins(2005)',
 '      130.      Rashômon(1950)',
 '      131.      Der Untergang(2004)',
 '      132.      Bacheha-Ye aseman(1997)',
 '      133.      Unforgiven(1992)',
 '      134.      Some Like It Hot(1959)',
 '      135.      Ran(1985)',
 '      136.      Hauru no ugoku shiro(2004)',
 '      137.      All About Eve(1950)',
 '      138.      Casino(1995)',
 '      139.      A Beautiful Mind(2001)',
 '      140.      The Great Escape(1963)',
 '      141.      The Wolf of Wall Street(2013)',
 "      142.      Pan's Labyrinth(2006)",
 '      143.      El secreto de sus ojos(2009)',
 '      144.      There Will Be Blood(2007)',
 '      145.      Lock, Stock and Two Smoking Barrels(1998)',
 '      146.      Tonari no Totoro(1988)',
 '      147.      Raging Bull(1980)',
 '      148.      Judgment at Nuremberg(1961)',
 '      149.      The Treasure of the Sierra Madre(1948)',
 '      150.      Dial M for Murder(1954)',
 '      151.      Three Billboards Outside Ebbing, Missouri(2017)',
 '      152.      Shutter Island(2010)',
 '      153.      The Gold Rush(1925)',
 '      154.      Chinatown(1974)',
 '      155.      Babam ve Oglum(2005)',
 '      156.      No Country for Old Men(2007)',
 '      157.      V for Vendetta(2005)',
 '      158.      Inside Out(2015)',
 '      159.      Det sjunde inseglet(1957)',
 '      160.      The Elephant Man(1980)',
 '      161.      The Thing(1982)',
 '      162.      Warrior(2011)',
 '      163.      The Sixth Sense(1999)',
 '      164.      Trainspotting(1996)',
 '      165.      Jurassic Park(1993)',
 '      166.      Klaus(2019)',
 '      167.      The Truman Show(1998)',
 '      168.      Gone with the Wind(1939)',
 '      169.      Finding Nemo(2003)',
 '      170.      Smultronstället(1957)',
 '      171.      Blade Runner(1982)',
 '      172.      Stalker(1979)',
 '      173.      Kill Bill: Vol. 1(2003)',
 '      174.      Anand(1971)',
 '      175.      Salinui chueok(2003)',
 '      176.      The Bridge on the River Kwai(1957)',
 '      177.      Fargo(1996)',
 '      178.      Room(2015)',
 '      179.      Gran Torino(2008)',
 '      180.      The Third Man(1949)',
 '      181.      Relatos salvajes(2014)',
 '      182.      On the Waterfront(1954)',
 '      183.      Tôkyô monogatari(1953)',
 '      184.      The Deer Hunter(1978)',
 '      185.      Soul(2020)',
 '      186.      In the Name of the Father(1993)',
 '      187.      Mary and Max(2009)',
 '      188.      The Grand Budapest Hotel(2014)',
 '      189.      Gone Girl(2014)',
 '      190.      Höstsonaten(1978)',
 '      191.      Before Sunrise(1995)',
 '      192.      Hacksaw Ridge(2016)',
 '      193.      Catch Me If You Can(2002)',
 '      194.      Persona(1966)',
 '      195.      Andhadhun(2018)',
 '      196.      Prisoners(2013)',
 '      197.      The Big Lebowski(1998)',
 '      198.      Sherlock Jr.(1924)',
 '      199.      To Be or Not to Be(1942)',
 '      200.      The General(1926)',
 '      201.      How to Train Your Dragon(2010)',
 '      202.      Ford v Ferrari(2019)',
 '      203.      Eskiya(1996)',
 '      204.      Barry Lyndon(1975)',
 '      205.      12 Years a Slave(2013)',
 '      206.      Mr. Smith Goes to Washington(1939)',
 '      207.      Mad Max: Fury Road(2015)',
 '      208.      Million Dollar Baby(2004)',
 '      209.      Network(1976)',
 '      210.      Dead Poets Society(1989)',
 '      211.      Stand by Me(1986)',
 '      212.      Harry Potter and the Deathly Hallows: Part 2(2011)',
 '      213.      Ben-Hur(1959)',
 '      214.      Cool Hand Luke(1967)',
 "      215.      Hachi: A Dog's Tale(2009)",
 '      216.      Platoon(1986)',
 '      217.      Ah-ga-ssi(2016)',
 '      218.      Logan(2017)',
 '      219.      Into the Wild(2007)',
 '      220.      Dom za vesanje(1988)',
 '      221.      Rush(2013)',
 '      222.      Le salaire de la peur(1953)',
 '      223.      Life of Brian(1979)',
 '      224.      Les quatre cents coups(1959)',
 '      225.      Spotlight(2015)',
 '      226.      La haine(1995)',
 "      227.      La passion de Jeanne d'Arc(1928)",
 '      228.      Hotel Rwanda(2004)',
 '      229.      Amores perros(2000)',
 '      230.      Andrei Rublev(1966)',
 '      231.      Rocky(1976)',
 '      232.      Gangs of Wasseypur(2012)',
 '      233.      Monsters, Inc.(2001)',
 '      234.      Kaze no tani no Naushika(1984)',
 '      235.      Rebecca(1940)',
 '      236.      Du rififi chez les hommes(1955)',
 '      237.      Rang De Basanti(2006)',
 '      238.      Before Sunset(2004)',
 '      239.      Fa yeung nin wah(2000)',
 '      240.      Paris, Texas(1984)',
 '      241.      Portrait de la jeune fille en feu(2019)',
 '      242.      It Happened One Night(1934)',
 '      243.      Vikram Vedha(2017)',
 '      244.      Contratiempo(2016)',
 '      245.      The Help(2011)',
 '      246.      The Princess Bride(1987)',
 '      247.      La battaglia di Algeri(1966)',
 '      248.      Drishyam(2015)',
 '      249.      Fanny och Alexander(1982)',
 '      250.      Koe no katachi(2016)']

In [14]:
#Saving top 100 movies
Movie_Name=Movie_Name[0:100]
Movie_Name

['      1.      The Shawshank Redemption(1994)',
 '      2.      The Godfather(1972)',
 '      3.      The Godfather: Part II(1974)',
 '      4.      The Dark Knight(2008)',
 '      5.      12 Angry Men(1957)',
 "      6.      Schindler's List(1993)",
 '      7.      The Lord of the Rings: The Return of the King(2003)',
 '      8.      Pulp Fiction(1994)',
 '      9.      Il buono, il brutto, il cattivo(1966)',
 '      10.      The Lord of the Rings: The Fellowship of the Ring(2001)',
 '      11.      Fight Club(1999)',
 '      12.      Forrest Gump(1994)',
 '      13.      Inception(2010)',
 '      14.      The Lord of the Rings: The Two Towers(2002)',
 '      15.      Star Wars: Episode V - The Empire Strikes Back(1980)',
 '      16.      The Matrix(1999)',
 '      17.      Goodfellas(1990)',
 "      18.      One Flew Over the Cuckoo's Nest(1975)",
 '      19.      Shichinin no samurai(1954)',
 '      20.      Se7en(1995)',
 '      21.      La vita è bella(1997)',
 '      22.      Cidade de Deus(2002)',
 '      23.      The Silence of the Lambs(1991)',
 "      24.      It's a Wonderful Life(1946)",
 '      25.      Star Wars(1977)',
 '      26.      Saving Private Ryan(1998)',
 '      27.      Sen to Chihiro no kamikakushi(2001)',
 '      28.      The Green Mile(1999)',
 '      29.      Interstellar(2014)',
 '      30.      Gisaengchung(2019)',
 '      31.      Léon(1994)',
 '      32.      The Usual Suspects(1995)',
 '      33.      Seppuku(1962)',
 '      34.      The Lion King(1994)',
 '      35.      The Pianist(2002)',
 '      36.      Back to the Future(1985)',
 '      37.      Terminator 2: Judgment Day(1991)',
 '      38.      American History X(1998)',
 '      39.      Modern Times(1936)',
 '      40.      Psycho(1960)',
 '      41.      Gladiator(2000)',
 '      42.      City Lights(1931)',
 '      43.      The Departed(2006)',
 '      44.      The Intouchables(2011)',
 '      45.      Whiplash(2014)',
 '      46.      Hotaru no haka(1988)',
 '      47.      The Prestige(2006)',
 '      48.      Once Upon a Time in the West(1968)',
 '      49.      Casablanca(1942)',
 '      50.      Nuovo Cinema Paradiso(1988)',
 '      51.      Rear Window(1954)',
 '      52.      Alien(1979)',
 '      53.      Apocalypse Now(1979)',
 '      54.      Hamilton(2020)',
 '      55.      Memento(2000)',
 '      56.      The Great Dictator(1940)',
 '      57.      Raiders of the Lost Ark(1981)',
 '      58.      Django Unchained(2012)',
 '      59.      The Lives of Others(2006)',
 '      60.      Joker(2019)',
 '      61.      Paths of Glory(1957)',
 '      62.      WALL·E(2008)',
 '      63.      The Shining(1980)',
 '      64.      Avengers: Infinity War(2018)',
 '      65.      Sunset Blvd.(1950)',
 '      66.      Witness for the Prosecution(1957)',
 '      67.      Oldeuboi(2003)',
 '      68.      Mononoke-hime(1997)',
 '      69.      Spider-Man: Into the Spider-Verse(2018)',
 '      70.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '      71.      The Dark Knight Rises(2012)',
 '      72.      Once Upon a Time in America(1984)',
 '      73.      Aliens(1986)',
 '      74.      Kimi no na wa.(2016)',
 '      75.      Coco(2017)',
 '      76.      Avengers: Endgame(2019)',
 '      77.      American Beauty(1999)',
 '      78.      Braveheart(1995)',
 '      79.      Das Boot(1981)',
 '      80.      3 Idiots(2009)',
 '      81.      Toy Story(1995)',
 '      82.      Capharnaüm(2018)',
 '      83.      Tengoku to jigoku(1963)',
 '      84.      Amadeus(1984)',
 '      85.      Inglourious Basterds(2009)',
 '      86.      Star Wars: Episode VI - Return of the Jedi(1983)',
 '      87.      Good Will Hunting(1997)',
 '      88.      Taare Zameen Par(2007)',
 '      89.      Reservoir Dogs(1992)',
 '      90.      2001: A Space Odyssey(1968)',
 '      91.      Requiem for a Dream(2000)',
 '      92.      Vertigo(1958)',
 '      93.      M - Eine Stadt sucht einen Mörder(1931)',
 '      94.      Jagten(2012)',
 '      95.      Eternal Sunshine of the Spotless Mind(2004)',
 '      96.      Citizen Kane(1941)',
 '      97.      Dangal(2016)',
 '      98.      Full Metal Jacket(1987)',
 '      99.      Ladri di biciclette(1948)',
 "      100.      Singin' in the Rain(1952)"]

In [15]:
#Feeding data in a dataframe
mv=pd.DataFrame({})
mv['Movie']=Movie_Name
mv

                                           Movie
0         1.      The Shawshank Redemption(1994)
1                    2.      The Godfather(1972)
2           3.      The Godfather: Part II(1974)
3                  4.      The Dark Knight(2008)
4                     5.      12 Angry Men(1957)
..                                           ...
95                   96.      Citizen Kane(1941)
96                         97.      Dangal(2016)
97              98.      Full Metal Jacket(1987)
98            99.      Ladri di biciclette(1948)
99           100.      Singin' in the Rain(1952)

[100 rows x 1 columns]

In [16]:
#Splitting ranks with Movie and year
new = mv["Movie"].str.split(".", n = 1, expand = True) 
new

            0                                     1
0           1        The Shawshank Redemption(1994)
1           2                   The Godfather(1972)
2           3          The Godfather: Part II(1974)
3           4                 The Dark Knight(2008)
4           5                    12 Angry Men(1957)
..        ...                                   ...
95         96                    Citizen Kane(1941)
96         97                          Dangal(2016)
97         98               Full Metal Jacket(1987)
98         99             Ladri di biciclette(1948)
99        100             Singin' in the Rain(1952)

[100 rows x 2 columns]

In [17]:
#Splitting movie and year
new2=new[1].str.split("(", n = 1, expand = True) 
new2

                                 0      1
0         The Shawshank Redemption  1994)
1                    The Godfather  1972)
2           The Godfather: Part II  1974)
3                  The Dark Knight  2008)
4                     12 Angry Men  1957)
..                             ...    ...
95                    Citizen Kane  1941)
96                          Dangal  2016)
97               Full Metal Jacket  1987)
98             Ladri di biciclette  1948)
99             Singin' in the Rain  1952)

[100 rows x 2 columns]

In [18]:
#Removing bracket from year
new2[1]=new2[1].str.replace('[^.\d]','')
new2

                                 0     1
0         The Shawshank Redemption  1994
1                    The Godfather  1972
2           The Godfather: Part II  1974
3                  The Dark Knight  2008
4                     12 Angry Men  1957
..                             ...   ...
95                    Citizen Kane  1941
96                          Dangal  2016
97               Full Metal Jacket  1987
98             Ladri di biciclette  1948
99             Singin' in the Rain  1952

[100 rows x 2 columns]

In [19]:
rating=soup.find_all('td', class_='ratingColumn imdbRating')
rating

[<td class="ratingColumn imdbRating">
 <strong title="9.2 based on 2,332,587 user ratings">9.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.1 based on 1,612,502 user ratings">9.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 1,125,296 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 2,294,020 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 686,607 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,208,937 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,636,885 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,819,128 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 685,859 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,654,611 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,847,368 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,800,787 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,057,969 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,480,154 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,155,216 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,669,558 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,015,922 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 914,703 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 314,600 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,438,495 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 620,973 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 697,243 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,265,038 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 403,934 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,227,419 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,230,802 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 647,421 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,142,455 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,502,905 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 539,763 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,031,035 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 987,770 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 41,353 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 938,057 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 726,228 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,053,698 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 992,502 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,031,505 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 216,891 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 601,971 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,336,495 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 167,097 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,184,769 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 755,552 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 713,183 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 233,774 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,185,094 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 301,790 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 520,267 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 229,571 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 442,483 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 785,140 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 604,144 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 53,094 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,121,795 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 202,334 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 881,433 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,351,453 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 357,374 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 927,660 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 177,297 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 995,921 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 894,681 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 827,771 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 200,815 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 108,319 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 513,091 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 341,353 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 370,542 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 448,917 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,511,121 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 309,916 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 650,971 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 192,334 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 378,833 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 799,092 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,066,606 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 956,383 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 231,038 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 342,648 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 884,092 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 61,181 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 33,886 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 367,821 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,261,724 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 947,293 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 857,901 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 167,821 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 915,107 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 601,372 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 764,081 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 362,974 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 142,824 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 279,449 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 908,632 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 401,510 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 155,244 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 672,834 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 145,712 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 218,097 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 112,644 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 298,144 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 779,467 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 755,470 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 416,318 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 737,918 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 68,033 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 58,324 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 721,373 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 267,119 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 754,562 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 701,697 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 219,027 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 240,787 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 148,861 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 159,441 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 231,851 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 163,667 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 142,982 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 293,025 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 932,023 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 690,343 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 574,459 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 530,319 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 790,749 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 371,763 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 499,549 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 110,693 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,303,934 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 151,926 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 330,306 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 64,892 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 374,595 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 243,091 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 112,017 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 331,779 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 120,162 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 464,259 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 845,700 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 223,976 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,178,066 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 616,899 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 192,331 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 515,042 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 533,582 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 289,238 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 320,668 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 69,175 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 113,918 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 157,630 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 428,880 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,124,150 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 100,559 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 293,054 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 78,501 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 852,945 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,029,645 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 612,265 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 164,048 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 219,196 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 369,894 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 434,645 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 909,115 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 632,936 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 864,727 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 102,451 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 935,026 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 289,147 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 946,569 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 95,792 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 691,606 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 116,214 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 996,968 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 29,970 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 137,822 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 202,857 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 615,214 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 369,058 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 718,504 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 158,179 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 176,098 user ratings">8.1</strong>
 </td>,

In [20]:
for i in rating:
    
    IMDB_Rating.append(i.get_text().replace("\n",""))
IMDB_Rating

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [21]:
#Selecting top 100 ratings from the list
IMDB_Rating=IMDB_Rating[0:100]

In [22]:
rt=pd.DataFrame({})
rt['Rating']=IMDB_Rating
rt

   Rating
0     9.2
1     9.1
2     9.0
3     9.0
4     8.9
..    ...
95    8.3
96    8.3
97    8.2
98    8.2
99    8.2

[100 rows x 1 columns]

In [23]:
#Concatenation of dataframes
IMDBtop100 = pd.concat([new2,rt],axis=1)
IMDBtop100

                                 0     1 Rating
0         The Shawshank Redemption  1994    9.2
1                    The Godfather  1972    9.1
2           The Godfather: Part II  1974    9.0
3                  The Dark Knight  2008    9.0
4                     12 Angry Men  1957    8.9
..                             ...   ...    ...
95                    Citizen Kane  1941    8.3
96                          Dangal  2016    8.3
97               Full Metal Jacket  1987    8.2
98             Ladri di biciclette  1948    8.2
99             Singin' in the Rain  1952    8.2

[100 rows x 3 columns]

In [24]:
#Renaming the columns
IMDBtop100.columns=['Movie','Year of Release','Rating']
IMDBtop100

                             Movie Year of Release Rating
0         The Shawshank Redemption            1994    9.2
1                    The Godfather            1972    9.1
2           The Godfather: Part II            1974    9.0
3                  The Dark Knight            2008    9.0
4                     12 Angry Men            1957    8.9
..                             ...             ...    ...
95                    Citizen Kane            1941    8.3
96                          Dangal            2016    8.3
97               Full Metal Jacket            1987    8.2
98             Ladri di biciclette            1948    8.2
99             Singin' in the Rain            1952    8.2

[100 rows x 3 columns]

In [25]:
IMDBtop100.to_csv('IMDBtop100.csv')

## Question 3
***Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year
of release) and save it in form of a CSV file.***

In [26]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [27]:
soup=BeautifulSoup(page.content,'html.parser')

In [28]:
movies=soup.find_all('td', class_='titleColumn')

In [29]:
#Creating empty lists to be appended later
Movie_Name=[]
IMDB_Rating=[]

In [30]:
for i in movies:
    
    Movie_Name.append(i.get_text().replace("\n",""))
Movie_Name

['      1.      Pather Panchali(1955)',
 '      2.      Gol Maal(1979)',
 '      3.      Ratsasan(2018)',
 '      4.      Nayakan(1987)',
 '      5.      Anbe Sivam(2003)',
 '      6.      Apur Sansar(1959)',
 '      7.      Natsamrat(2016)',
 '      8.      Kireedam(1989)',
 '      9.      Pariyerum Perumal(2018)',
 '      10.      Black Friday(2004)',
 '      11.      Manichitrathazhu(1993)',
 '      12.      Thevar Magan(1992)',
 '      13.      96(2018)',
 '      14.      Kumbalangi Nights(2019)',
 '      15.      3 Idiots(2009)',
 '      16.      Taare Zameen Par(2007)',
 '      17.      Visaaranai(2015)',
 '      18.      Dangal(2016)',
 '      19.      Anand(1971)',
 '      20.      Thalapathi(1991)',
 '      21.      Aparajito(1956)',
 '      22.      Jaane Bhi Do Yaaro(1983)',
 '      23.      Vikram Vedha(2017)',
 '      24.      Pyaasa(1957)',
 '      25.      Asuran(2019)',
 '      26.      Guide(1965)',
 '      27.      Kannathil Muthamittal(2002)',
 '      28.      Chupke Chupke(1975)',
 '      29.      Jersey(2019)',
 '      30.      Kaithi(2019)',
 '      31.      Thani Oruvan(2015)',
 '      32.      Vada Chennai(2018)',
 '      33.      Soorarai Pottru(2020)',
 '      34.      Khosla Ka Ghosla!(2006)',
 '      35.      Drishyam(2013)',
 '      36.      Aruvi(2016)',
 '      37.      Peranbu(2018)',
 '      38.      Super Deluxe(2019)',
 '      39.      Tumbbad(2018)',
 '      40.      Andhadhun(2018)',
 '      41.      Agent Sai Srinivasa Athreya(2019)',
 '      42.      Mahanati(2018)',
 '      43.      Kaakkaa Muttai(2014)',
 '      44.      Premam(2015)',
 '      45.      Dhuruvangal Pathinaaru(2016)',
 '      46.      Satya(1998)',
 '      47.      Shahid(2012)',
 '      48.      Bangalore Days(2014)',
 '      49.      Soodhu Kavvum(2013)',
 '      50.      Mudhalvan(1999)',
 '      51.      Anniyan(2005)',
 '      52.      Gangs of Wasseypur(2012)',
 '      53.      Papanasam(2015)',
 '      54.      Jigarthanda(2014)',
 '      55.      Talvar(2015)',
 '      56.      Paan Singh Tomar(2012)',
 '      57.      Bhaag Milkha Bhaag(2013)',
 '      58.      Nil Battey Sannata(2015)',
 '      59.      Swades: We, the People(2004)',
 '      60.      Sholay(1975)',
 '      61.      Hera Pheri(2000)',
 '      62.      Drishyam(2015)',
 '      63.      Pithamagan(2003)',
 '      64.      Black(2005)',
 '      65.      Chak De! India(2007)',
 '      66.      Jo Jeeta Wohi Sikandar(1992)',
 '      67.      Sairat(2016)',
 '      68.      Charulata(1964)',
 '      69.      Mughal-E-Azam(1960)',
 '      70.      Rang De Basanti(2006)',
 '      71.      Queen(2013)',
 '      72.      Ustad Hotel(2012)',
 '      73.      Udaan(2010)',
 '      74.      Article 15(2019)',
 '      75.      Zindagi Na Milegi Dobara(2011)',
 '      76.      A Wednesday(2008)',
 '      77.      Dil Chahta Hai(2001)',
 '      78.      Munna Bhai M.B.B.S.(2003)',
 '      79.      Sarfarosh(1999)',
 '      80.      Andaz Apna Apna(1994)',
 '      81.      Masaan(2015)',
 '      82.      OMG: Oh My God!(2012)',
 '      83.      Roja(1992)',
 '      84.      Lagaan: Once Upon a Time in India(2001)',
 '      85.      Maheshinte Prathikaaram(2016)',
 '      86.      Kahaani(2012)',
 '      87.      Alai Payuthey(2000)',
 '      88.      Theeran adhigaaram ondru(2017)',
 '      89.      PK(2014)',
 '      90.      Baasha(1995)',
 '      91.      Uri: The Surgical Strike(2018)',
 '      92.      Iqbal(2005)',
 '      93.      Pink(2016)',
 '      94.      Barfi!(2012)',
 '      95.      The Legend of Bhagat Singh(2002)',
 '      96.      Bommarillu(2006)',
 '      97.      Lucia(2013)',
 '      98.      Maqbool(2003)',
 '      99.      Bombay(1995)',
 '      100.      Omkara(2006)',
 '      101.      Section 375(2019)',
 '      102.      Lage Raho Munna Bhai(2006)',
 '      103.      Deewaar(1975)',
 '      104.      Indian(1996)',
 '      105.      Chhichhore(2019)',
 '      106.      Baahubali 2: The Conclusion(2017)',
 '      107.      Dilwale Dulhania Le Jayenge(1995)',
 '      108.      Padosan(1968)',
 '      109.      Gulaal(2009)',
 '      110.      Haider(2014)',
 '      111.      Gully Boy(2019)',
 '      112.      Pelli Choopulu(2016)',
 '      113.      Mother India(1957)',
 '      114.      Ugly(2013)',
 '      115.      Athadu(2005)',
 '      116.      Padayappa(1999)',
 '      117.      Special Chabbis(2013)',
 '      118.      Dev.D(2009)',
 '      119.      Rangasthalam(2018)',
 '      120.      Jalsaghar(1958)',
 '      121.      Badhaai ho(2018)',
 '      122.      Ship of Theseus(2012)',
 '      123.      Bajrangi Bhaijaan(2015)',
 '      124.      Vaastav: The Reality(1999)',
 '      125.      Company(2002)',
 '      126.      Ulidavaru Kandanthe(2014)',
 '      127.      Arjun Reddy(2017)',
 '      128.      Ankhon Dekhi(2013)',
 '      129.      Mukkabaaz(2017)',
 '      130.      Vaaranam Aayiram(2008)',
 '      131.      Vedam(2010)',
 '      132.      K.G.F: Chapter 1(2018)',
 '      133.      Manjhi: The Mountain Man(2015)',
 '      134.      Pizza(2012)',
 '      135.      My Name Is Khan(2010)',
 '      136.      Dil Bechara(2020)',
 '      137.      Jab We Met(2007)',
 '      138.      Kal Ho Naa Ho(2003)',
 '      139.      Mumbai Police(2013)',
 '      140.      Memories(2013)',
 '      141.      Unnaipol Oruvan(2009)',
 '      142.      Padman(2018)',
 '      143.      Border(1997)',
 '      144.      Bãhubali: The Beginning(2015)',
 '      145.      Lakshya(2004)',
 '      146.      Dor(2006)',
 '      147.      Super 30(2019)',
 '      148.      Airlift(2016)',
 '      149.      Vettaiyaadu Vilaiyaadu(2006)',
 '      150.      Baby(2015)',
 '      151.      Hey Ram(2000)',
 '      152.      Charlie(2015)',
 '      153.      English Vinglish(2012)',
 '      154.      Gangaajal(2003)',
 '      155.      Okkadu(2003)',
 '      156.      The Lunchbox(2013)',
 '      157.      Ab Tak Chhappan(2004)',
 '      158.      Hindi Medium(2017)',
 '      159.      Johnny Gaddaar(2007)',
 '      160.      Manam(2014)',
 '      161.      Secret Superstar(2017)',
 '      162.      Badla(2019)',
 '      163.      Sonchiriya(2019)',
 '      164.      Raazi(2018)',
 '      165.      Nayak: The Real Hero(2001)',
 '      166.      Vicky Donor(2012)',
 '      167.      Mr. India(1987)',
 '      168.      Udta Punjab(2016)',
 '      169.      Pokiri(2006)',
 '      170.      Don(1978)',
 '      171.      Stanley Ka Dabba(2011)',
 '      172.      Rock On!!(2008)',
 '      173.      Dasvidaniya(2008)',
 '      174.      Veer-Zaara(2004)',
 '      175.      RangiTaranga(2015)',
 '      176.      Samsara(2001)',
 '      177.      Aligarh(2015)',
 '      178.      Guru(2007)',
 '      179.      Arya(2004)',
 '      180.      Oye Lucky! Lucky Oye!(2008)',
 '      181.      Velaiilla Pattadhari(2014)',
 '      182.      Goodachari(2018)',
 '      183.      M.S. Dhoni: The Untold Story(2016)',
 '      184.      Mumbai Meri Jaan(2008)',
 '      185.      Kai po che!(2013)',
 '      186.      Kapoor & Sons(2016)',
 '      187.      Rockstar(2011)',
 '      188.      Aamir(2008)',
 '      189.      Eega(2012)',
 '      190.      Kabhi Haan Kabhi Naa(1994)',
 '      191.      Darr(1993)',
 '      192.      Newton(2017)',
 '      193.      Earth(1998)',
 '      194.      24(2016)',
 '      195.      Madras Cafe(2013)',
 '      196.      Agneepath(1990)',
 '      197.      Ugramm(2014)',
 '      198.      Pyaar Ka Punchnama(2011)',
 '      199.      Sarkar(2005)',
 '      200.      Neerja(2016)',
 '      201.      Bheja Fry(2007)',
 '      202.      Highway(2014)',
 '      203.      The Tashkent Files(2019)',
 '      204.      Manorama: Six Feet Under(2007)',
 '      205.      Thuppakki(2012)',
 '      206.      Magadheera(2009)',
 '      207.      Detective Byomkesh Bakshy!(2015)',
 '      208.      Baazigar(1993)',
 '      209.      Tanu Weds Manu Returns(2015)',
 '      210.      Nerkonda Paarvai(2019)',
 '      211.      Wake Up Sid(2009)',
 '      212.      Saala Khadoos(2016)',
 '      213.      Piku(2015)',
 '      214.      Ludo(2020)',
 '      215.      Kuch Kuch Hota Hai(1998)',
 '      216.      Sanju(2018)',
 '      217.      Kaththi(2014)',
 '      218.      1 - Nenokkadine(2014)',
 '      219.      Delhi Belly(2011)',
 '      220.      Dhruva(2016)',
 '      221.      Stree(2018)',
 '      222.      Devdas(2002)',
 '      223.      Jodhaa Akbar(2008)',
 '      224.      Parmanu: The Story of Pokhran(2018)',
 '      225.      Lootcase(2020)',
 '      226.      Raanjhanaa(2013)',
 '      227.      Trapped(2016)',
 '      228.      Dil Se..(1998)',
 '      229.      Ek Hasina Thi(2004)',
 '      230.      Rocket Singh: Salesman of the Year(2009)',
 '      231.      Bhavesh Joshi Superhero(2018)',
 '      232.      Hungama(2003)',
 '      233.      Do Dooni Chaar(2010)',
 '      234.      Madaari(2016)',
 '      235.      Jolly LLB(2013)',
 '      236.      Rehnaa Hai Terre Dil Mein(2001)',
 '      237.      Geetha Govindam(2018)',
 '      238.      Jallikattu(2019)',
 '      239.      The Ghazi Attack(2017)',
 '      240.      Bareilly Ki Barfi(2017)',
 '      241.      Karwaan(2018)',
 '      242.      Phas Gaye Re Obama(2010)',
 '      243.      Ghajini(2005)',
 '      244.      Ghilli(2004)',
 '      245.      Qayamat Se Qayamat Tak(1988)',
 '      246.      Dum Laga Ke Haisha(2015)',
 '      247.      The Sky Is Pink(2019)',
 '      248.      Hichki(2018)',
 '      249.      Sivaji(2007)',
 '      250.      October(2018)']

In [31]:
#Saving top 100 movies
Movie_Name=Movie_Name[0:100]

In [32]:
#Feeding data in a dataframe
mv=pd.DataFrame({})
mv['Movie']=Movie_Name

In [33]:
mv

                                  Movie
0         1.      Pather Panchali(1955)
1                2.      Gol Maal(1979)
2                3.      Ratsasan(2018)
3                 4.      Nayakan(1987)
4              5.      Anbe Sivam(2003)
..                                  ...
95            96.      Bommarillu(2006)
96                 97.      Lucia(2013)
97               98.      Maqbool(2003)
98                99.      Bombay(1995)
99               100.      Omkara(2006)

[100 rows x 1 columns]

In [34]:
#Splitting ranks with Movie and year
new = mv["Movie"].str.split(".", n = 1, expand = True) 
new

            0                            1
0           1        Pather Panchali(1955)
1           2               Gol Maal(1979)
2           3               Ratsasan(2018)
3           4                Nayakan(1987)
4           5             Anbe Sivam(2003)
..        ...                          ...
95         96             Bommarillu(2006)
96         97                  Lucia(2013)
97         98                Maqbool(2003)
98         99                 Bombay(1995)
99        100                 Omkara(2006)

[100 rows x 2 columns]

In [35]:
#Splitting movie and year
new2=new[1].str.split("(", n = 1, expand = True) 
new2

                        0      1
0         Pather Panchali  1955)
1                Gol Maal  1979)
2                Ratsasan  2018)
3                 Nayakan  1987)
4              Anbe Sivam  2003)
..                    ...    ...
95             Bommarillu  2006)
96                  Lucia  2013)
97                Maqbool  2003)
98                 Bombay  1995)
99                 Omkara  2006)

[100 rows x 2 columns]

In [36]:
#Removing bracket from year
new2[1]=new2[1].str.replace('[^.\d]','')
new2

                        0     1
0         Pather Panchali  1955
1                Gol Maal  1979
2                Ratsasan  2018
3                 Nayakan  1987
4              Anbe Sivam  2003
..                    ...   ...
95             Bommarillu  2006
96                  Lucia  2013
97                Maqbool  2003
98                 Bombay  1995
99                 Omkara  2006

[100 rows x 2 columns]

In [37]:
rating=soup.find_all('td', class_='ratingColumn imdbRating')

In [38]:
for i in rating:
    
    IMDB_Rating.append(i.get_text().replace("\n",""))

In [39]:
#Selecting top 100 ratings from the list
IMDB_Rating=IMDB_Rating[0:100]

In [40]:
rt=pd.DataFrame({})
rt['Rating']=IMDB_Rating
rt

   Rating
0     8.5
1     8.5
2     8.5
3     8.5
4     8.5
..    ...
95    8.0
96    8.0
97    8.0
98    8.0
99    8.0

[100 rows x 1 columns]

In [41]:
#Concatenation of dataframes
Indiantop100 = pd.concat([new2,rt],axis=1)
Indiantop100

                        0     1 Rating
0         Pather Panchali  1955    8.5
1                Gol Maal  1979    8.5
2                Ratsasan  2018    8.5
3                 Nayakan  1987    8.5
4              Anbe Sivam  2003    8.5
..                    ...   ...    ...
95             Bommarillu  2006    8.0
96                  Lucia  2013    8.0
97                Maqbool  2003    8.0
98                 Bombay  1995    8.0
99                 Omkara  2006    8.0

[100 rows x 3 columns]

In [42]:
#Renaming the columns
Indiantop100.columns=['Movie','Year of Release','Rating']
Indiantop100

                    Movie Year of Release Rating
0         Pather Panchali            1955    8.5
1                Gol Maal            1979    8.5
2                Ratsasan            2018    8.5
3                 Nayakan            1987    8.5
4              Anbe Sivam            2003    8.5
..                    ...             ...    ...
95             Bommarillu            2006    8.0
96                  Lucia            2013    8.0
97                Maqbool            2003    8.0
98                 Bombay            1995    8.0
99                 Omkara            2006    8.0

[100 rows x 3 columns]

In [43]:
Indiantop100.to_csv('Indiantop100.csv')

## Question 4
***Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’***

In [44]:
page=requests.get("https://bookpage.com/reviews")

In [45]:
soup=BeautifulSoup(page.content,'html.parser')

In [46]:
Book_Name=[]
Author_Name=[]
Genre=[]
Book_Review=[]

In [47]:
#Finding the book name
book=soup.find_all('h4',class_="italic")
book[0:5]

[<h4 class="italic">
 <a href="/reviews/25816-mateo-askaripour-black-buck-fiction"> <span style="font-style:normal;">★ </span>Black Buck</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25783-cathy-bonidan-lost-manuscript-fiction">The Lost Manuscript</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25778-torrey-peters-detransition-baby-fiction"> <span style="font-style:normal;">★ </span>Detransition, Baby</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25883-c-m-waggoner-ruthless-ladys-guide-to-wizardry-science-fiction-fantasy">The Ruthless Lady's Guide to Wizardry</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25884-p-j-tracy-deep-into-dark-mystery-suspense"> <span style="font-style:normal;">★ </span>Deep Into the Dark</a>
 </h4>]

In [48]:
for i in book:
    
    Book_Name.append(i.get_text().replace("\n",""))
Book_Name[0:5]

[' ★ Black Buck',
 'The Lost Manuscript',
 ' ★ Detransition, Baby',
 "The Ruthless Lady's Guide to Wizardry",
 ' ★ Deep Into the Dark']

In [49]:
Book_Name=Book_Name[0:5]

In [50]:
author=soup.find_all('p',class_="sans bold")
author[0:5]

[<p class="sans bold">
 Mateo Askaripour
 </p>,
 <p class="sans bold">
 Cathy Bonidan, Emma Ramadan
 </p>,
 <p class="sans bold">
 Torrey Peters
 </p>,
 <p class="sans bold">
 C.M. Waggoner
 </p>,
 <p class="sans bold">
 P.J. Tracy
 </p>]

In [51]:
for i in author:
    
    Author_Name.append(i.get_text().replace("\n",""))
Author_Name[0:5]

['Mateo Askaripour',
 'Cathy Bonidan, Emma Ramadan',
 'Torrey Peters',
 'C.M. Waggoner',
 'P.J. Tracy']

In [52]:
Author_Name=Author_Name[0:5]

In [53]:
genre=soup.find_all('p', class_="genre-links hidden-phone")

In [54]:
for i in genre:
    
    Genre.append(i.get_text().replace("\n",""))
Genre[0:5]

['Fiction / Satirical Fiction',
 'Fiction / Popular Fiction',
 'Fiction / Family Drama',
 'Science Fiction & Fantasy / Fantasy',
 'Mystery & Suspense / Mystery']

In [55]:
Genre=Genre[0:5]

In [56]:
#Now, we have links of book reviews under each section, so we are going to extract those links from the HTML code
classes = soup.findAll('div', {'class': 'read-full'})

In [57]:
classes_soup = BeautifulSoup(str(classes))

In [58]:
for a in classes_soup.find_all('a', href=True):
    print ("Found the URL:", a['href'])
    Book_Review.append(a['href'])

Found the URL: /reviews/25816-mateo-askaripour-black-buck-fiction
Found the URL: /reviews/25783-cathy-bonidan-lost-manuscript-fiction
Found the URL: /reviews/25778-torrey-peters-detransition-baby-fiction
Found the URL: /reviews/25883-c-m-waggoner-ruthless-ladys-guide-to-wizardry-science-fiction-fantasy
Found the URL: /reviews/25884-p-j-tracy-deep-into-dark-mystery-suspense
Found the URL: /reviews/25887-angie-thomas-concrete-rose-ya
Found the URL: /reviews/25766-george-saunders-swim-pond-rain-nonfiction
Found the URL: /reviews/25794-michael-e-mann-new-climate-war-nonfiction
Found the URL: /reviews/25852-gary-d-schmidt-just-like-that-childrens
Found the URL: /reviews/25881-paraic-odonnell-house-vesper-sands-mystery-suspense

In [59]:
Book_Review=Book_Review[0:5]
Book_Review

['/reviews/25816-mateo-askaripour-black-buck-fiction',
 '/reviews/25783-cathy-bonidan-lost-manuscript-fiction',
 '/reviews/25778-torrey-peters-detransition-baby-fiction',
 '/reviews/25883-c-m-waggoner-ruthless-ladys-guide-to-wizardry-science-fiction-fantasy',
 '/reviews/25884-p-j-tracy-deep-into-dark-mystery-suspense']

In [60]:
import pandas as pd
br=pd.DataFrame({})
br['Book Name']=Book_Name
br['Author Name']=Author_Name
br['Genre']=Genre
br['https']="https://bookpage.com/"
br['Book Review']=Book_Review
br['Book Review']=br['https']+br['Book Review']
br.drop(columns=['https'],axis=1, inplace=True)
br

,Book Name,Author Name,Genre,Book Review
0,★ Black Buck,Mateo Askaripour,Fiction / Satirical Fiction,https://bookpage.com//reviews/25816-mateo-aska...
1,The Lost Manuscript,"Cathy Bonidan, Emma Ramadan",Fiction / Popular Fiction,https://bookpage.com//reviews/25783-cathy-boni...
2,"★ Detransition, Baby",Torrey Peters,Fiction / Family Drama,https://bookpage.com//reviews/25778-torrey-pet...
3,The Ruthless Lady's Guide to Wizardry,C.M. Waggoner,Science Fiction & Fantasy / Fantasy,https://bookpage.com//reviews/25883-c-m-waggon...
4,★ Deep Into the Dark,P.J. Tracy,Mystery & Suspense / Mystery,https://bookpage.com//reviews/25884-p-j-tracy-...

In [61]:
br.to_csv('BookReview.csv')

# Question 5
***Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

iii) Top 10 ODI bowlers along with the records of their team and rating.***

### Part 1- Top 10 teams(ODI)

In [50]:
driver=webdriver.Chrome(r"D:\downloadc\chrome downloads\New folder\chromedriver.exe")

In [63]:
url=('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [147]:
driver.get(url)

In [65]:
Team=[]
Matches=[]
Points=[]
Ratings=[]

In [66]:
team_tags=driver.find_elements_by_xpath("//span[@class='u-hide-phablet']")
team_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="fe3b9f2a-9aa9-4faa-a277-b35d966f7e0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="05864d41-63e9-495d-9c4d-ba4bd0f3e094")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="4bec0a1d-e480-45b8-bcee-754e6adef6d7")>]

In [67]:
for i in team_tags:
    team=i.text
    Team.append(team)
Team[0:4]

['England', 'India', 'New Zealand', 'Australia']

In [68]:
#Saving top 10 teams
Team=Team[0:10]
Team

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [69]:
#We have the top element of matches in a different class than others, so we will scrape it first
matches_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--matches']")
matches_tags

In [70]:
for i in matches_tags:
    matches=i.text
    Matches.append(matches)
Matches

['44']

In [71]:
#We have the top element of points in a different class than others, so we will scrape it first
point_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--points']")
point_tags

In [72]:
for i in point_tags:
    point=i.text
    Points.append(point)
Points

['5,405']

In [73]:
#Now, let's scrap the rest of the matches and points
matches_points=driver.find_elements_by_xpath("//td[@class='table-body__cell u-center-text']")
matches_points

[<selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="e8edc990-cd1d-4af2-a85b-7c63cd180a55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="f9d644f5-603b-4799-9254-56195078f360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="9416bf42-aca2-4876-b0b4-42f39d54ea82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="12b2dc62-4c66-45c7-940d-5197a7e38354")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="b4639b47-e9d2-4327-9d9a-3dcd57934dac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="59d19f12-a95a-4b23-ba3e-52a7695384ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="b2ec5510-28dd-4054-95b5-a09cae75c000")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="f34ce2ed-db82-492f-bb61-2193766dceb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="07ef074a-5eff-443c-9da2-6b54af45e3e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="0c87dd67-cb80-4612-93bd-303d02e766bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="f06c3dfe-84e4-4c70-a505-b75fba1e589b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="5b63dcc4-6e43-4d4e-9a39-aa40332c65dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="85f2326d-c5dc-44d2-b706-65664b7c43f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="841deccc-7755-47fd-9530-f0c57c12896c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="c16076d2-1a74-4ce2-b5d8-f58c21938628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="3746e601-dbee-4184-b003-fabf63bd661f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="a860faeb-6ea6-4e2a-be1f-e949d89fb97a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="775fb75e-0840-43af-b3a1-43ca49a4f9f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="a1b25486-aef9-4331-b060-ed3c77c809f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="0226a428-de5a-4920-aa19-5d92d61443ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="9f3ddeb4-2c62-4dfb-bf19-3b6945d73c13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="22cb24a6-93cd-4938-ac39-e3266ac73596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="a071c298-01c0-4bb9-baf4-4ad7cd5a3219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="ca2321b7-8c6a-4249-81df-cd4e08882c17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="216b3b2b-c2de-4366-b7b1-64961ab3f187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="f486209f-bad1-445e-8be4-18f5bd9f2998")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="f07f4c6e-f63b-43d3-9731-b8ab5e058232")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="9af33585-c074-4655-9227-22b56aaa08fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="2ea4e3f5-7e65-4a0a-aaeb-ee5bbea6d326")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="e5a9379d-2eba-4395-9283-657facab3f47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="837be132-5942-4cba-a6eb-e4d99ff81ebd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="75a43de3-67dc-47df-abfc-e3f084400fea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="2aad2b6b-028b-44b3-8e4b-c68ce4149524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="042727b5-52d4-4d68-89d8-6e77cb50ae4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="a41c4c7c-6a02-4730-a2aa-6fb766cf606f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="b64a9aa9-ca7d-460d-9025-d0b2e23b8677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="ee861d1d-5707-4124-837c-00131d766c94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="59ed3583-2b30-475e-8995-f22bd9ad4e25")>]

Now, the above elements are alternatively arranged in Matches and Points one by one. So, we will use a for loop and assign all the even values as matches and odd values as points

In [74]:
n=0
for i in matches_points:
    if n%2==0:
        matches=i.text
        Matches.append(matches)
        n+=1
    else:
        points=i.text
        Points.append(points)
        n+=1

In [75]:
Matches=Matches[0:10]
Matches

['44', '52', '32', '39', '31', '35', '34', '39', '43', '28']

In [76]:
Points=Points[0:10]
Points

['5,405',
 '6,102',
 '3,716',
 '4,344',
 '3,345',
 '3,490',
 '2,989',
 '3,297',
 '3,285',
 '1,549']

In [77]:
#We have the top element of ratings in a different class than others, so we will scrape it first
rating_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--rating u-text-right']")
rating_tags

In [78]:
for i in rating_tags:
    ratings=i.text
    Ratings.append(ratings)
Ratings

['123']

In [79]:
rating_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right rating']")
rating_tags

[<selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="fadde2da-8933-42e2-9bed-e74796772908")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="d0ee36aa-e1ea-4476-80c0-c7b7d12d924b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="25845544-6b1f-4788-84dc-e9248cd7f595")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="560057c1-b26f-4818-8fec-da666bfaf312")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="0811192a-06c8-4f39-9afd-33be9b39ee6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="9c724300-909f-4aaa-88f2-c2e60504400a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="dff20bc5-4460-4652-ba44-f94254f466ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="906e091a-73bf-48e4-8807-02bda3fdfa8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="82f520f8-19dd-4d92-9844-77ccf56a570e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="7a41a5bf-a70e-4071-b109-5fa9bf06ef87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="aa383336-efec-4989-89af-d86b7446c9d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="04e62248-1986-4124-b4de-b3d13c026de0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="65a35364-0ec9-4b28-a61c-fbcccb26c607")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="9e24954a-800b-44bd-b79d-9738f23434d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="46a059ba-8d74-4b10-af09-a4cfaf4a4e5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="01694af1-0914-4af9-95c4-8c3908ea7dbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="cf910f72-aad4-4ad1-a2a2-89967a800623")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="d1714ebd-a2ad-46ca-a934-036aa1c4135e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="361318216a75fc7ca75cf687fed604d0", element="9110b344-84a0-4a68-b844-0a0571e19123")>]

In [80]:
for i in rating_tags:
    ratings=i.text
    Ratings.append(ratings)
Ratings

['123',
 '117',
 '116',
 '111',
 '108',
 '100',
 '88',
 '85',
 '76',
 '55',
 '52',
 '44',
 '42',
 '40',
 '26',
 '18',
 '17',
 '17',
 '13',
 '0']

In [81]:
Ratings=Ratings[0:10]
Ratings

['123', '117', '116', '111', '108', '100', '88', '85', '76', '55']

In [82]:
Team_Ranking=pd.DataFrame({})
Team_Ranking['Team']=Team
Team_Ranking['Matches']=Matches
Team_Ranking['Points']=Points
Team_Ranking['Ratings']=Ratings
Team_Ranking

           Team Matches Points Ratings
0       England      44  5,405     123
1         India      52  6,102     117
2   New Zealand      32  3,716     116
3     Australia      39  4,344     111
4  South Africa      31  3,345     108
5      Pakistan      35  3,490     100
6    Bangladesh      34  2,989      88
7     Sri Lanka      39  3,297      85
8   West Indies      43  3,285      76
9   Afghanistan      28  1,549      55

### Part 2- Top 10 ODI Batsmen

In [83]:
url=('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [84]:
driver.get(url)

In [85]:
Player=[]
Team=[]
Rating=[]

In [86]:
player_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--name-large']")
player_tags

In [87]:
for i in player_tags:
    player=i.text
    Player.append(player)
Player

['Virat Kohli']

In [88]:
#Now,working on further batsmen
player_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']")

In [89]:
for i in player_tags:
    player=i.text
    Player.append(player)
Player

['Virat Kohli',
 'Rohit Sharma',
 'Babar Azam',
 'Ross Taylor',
 'Aaron Finch',
 'Francois du Plessis',
 'David Warner',
 'Kane Williamson',
 'Quinton de Kock',
 'Jonny Bairstow',
 'Shai Hope',
 'Imam-ul-Haq',
 'Joe Root',
 'Martin Guptill',
 'Steve Smith',
 'Shikhar Dhawan',
 'Mushfiqur Rahim',
 'Jason Roy',
 'Fakhar Zaman',
 'Glenn Maxwell',
 'Usman Khawaja',
 'Eoin Morgan',
 'Tamim Iqbal',
 'Shakib Al Hasan',
 'Jos Buttler',
 'Ben Stokes',
 'Shimron Hetmyer',
 'Paul Stirling',
 'Alex Carey',
 'David Miller',
 'Rassie van der Dussen',
 'Nicholas Pooran',
 'Haris Sohail',
 'Lokesh Rahul',
 'Tom Latham',
 'Angelo Mathews',
 'Kyle Coetzer',
 'Henry Nicholls',
 'Aqib Ilyas',
 'Litton Das',
 'Brendan Taylor',
 'Kedar Jadhav',
 'Soumya Sarkar',
 'Rahmat Shah',
 'Andrew Balbirnie',
 'Sean Williams',
 'Kusal Mendis',
 'Mohammad Hafeez',
 'Hardik Pandya',
 'Imad Wasim',
 'Evin Lewis',
 'Kusal Perera',
 'Sikandar Raza',
 'Mahmudullah',
 'Mohammad Shahzad',
 'Marcus Stoinis',
 'Calum MacLeod',
 'Sarfaraz Ahmed',
 'Chris Gayle',
 "Kevin O'Brien",
 'Najibullah Zadran',
 'Colin de Grandhomme',
 'Avishka Fernando',
 'Marnus Labuschagne',
 'Jimmy Neesham',
 'Mohammad Nabi',
 'Heinrich Klaasen',
 'Shreyas Iyer',
 'Shaun Marsh',
 'Hashmatullah Shaidi',
 'Danushka Gunathilaka',
 'William Porterfield',
 'Mitchell Marsh',
 'Peter Handscomb',
 'Asghar Afghan',
 'Richard Berrington',
 'Colin Munro',
 'Craig Ervine',
 'Lahiru Thirimanne',
 'Mitchell Santner',
 'Thisara Perera',
 'Sabbir Rahman',
 'Muhammad Usman',
 'Jason Holder',
 'Ravindra Jadeja',
 'Dhananjaya de Silva',
 'Assad Vala',
 'Aiden Markram',
 'Andile Phehlukwayo',
 'Mithun Ali',
 'Gulbadin Naib',
 'Chris Woakes',
 'Matthew Cross',
 'Sam Billings',
 'Tony Ura',
 'Rashid Khan',
 'Moeen Ali',
 'Kieron Pollard',
 'Dimuth Karunaratne',
 'Adil Rashid']

In [90]:
Player=Player[0:10]

In [91]:
team_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--nationality']")
team_tags

In [92]:
for i in team_tags:
    team=i.text
    Team.append(team)
Team

['IND']

In [93]:
team_tags=driver.find_elements_by_xpath("//span[@class='table-body__logo-text']")

In [94]:
for i in team_tags:
    team=i.text
    Team.append(team)
Team=Team[0:10]
Team

['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG']

In [95]:
ratings_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--rating']")

In [96]:
for i in ratings_tags:
    rating=i.text
    Rating.append(rating)
Rating

['870']

In [97]:
ratings_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")

In [98]:
for i in ratings_tags:
    rating=i.text
    Rating.append(rating)
Rating=Rating[0:10]
Rating

['870', '842', '837', '818', '791', '790', '773', '765', '755', '754']

In [99]:
#Creating the dataframe of top 10 batsmen
Batsmen=pd.DataFrame({})
Batsmen['Player']=Player
Batsmen['Team']=Team
Batsmen['Rating']=Rating
Batsmen

                Player Team Rating
0          Virat Kohli  IND    870
1         Rohit Sharma  IND    842
2           Babar Azam  PAK    837
3          Ross Taylor   NZ    818
4          Aaron Finch  AUS    791
5  Francois du Plessis   SA    790
6         David Warner  AUS    773
7      Kane Williamson   NZ    765
8      Quinton de Kock   SA    755
9       Jonny Bairstow  ENG    754

### Part 3:  Top 10 ODI Bowlers

In [100]:
url=('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [101]:
driver.get(url)

In [102]:
Player=[]
Team=[]
Rating=[]

In [103]:
#getting the top bowler first
player_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--name-large']")

In [104]:
for i in player_tags:
    player=i.text
    Player.append(player)
Player

['Trent Boult']

In [105]:
#getting the rest of the bowler names
player_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']")

In [106]:
for i in player_tags:
    player=i.text
    Player.append(player)
Player=Player[0:10]
Player

['Trent Boult',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Chris Woakes',
 'Kagiso Rabada',
 'Josh Hazlewood',
 'Mohammad Amir',
 'Pat Cummins',
 'Matt Henry',
 'Jofra Archer']

In [107]:
#Let's get the top player's team
team_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--nationality']")

In [108]:
for i in team_tags:
    team=i.text
    Team.append(team)
Team

['NZ']

In [109]:
team_tags=driver.find_elements_by_xpath("//span[@class='table-body__logo-text']")

In [110]:
for i in team_tags:
    team=i.text
    Team.append(team)
Team=Team[0:10]
Team

['NZ', 'AFG', 'IND', 'ENG', 'SA', 'AUS', 'PAK', 'AUS', 'NZ', 'ENG']

In [111]:
#Let's get the top rating first
rating_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--rating']")

In [112]:
for i in rating_tags:
    rating=i.text
    Rating.append(rating)
Rating

['722']

In [113]:
#Let's get the further ratings
rating_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")

In [114]:
for i in rating_tags:
    rating=i.text
    Rating.append(rating)
Rating=Rating[0:10]
Rating

['722', '701', '700', '675', '665', '660', '647', '646', '641', '637']

In [115]:
Bowlers=pd.DataFrame({})
Bowlers['Player']=Player
Bowlers['Team']=Team
Bowlers['Rating']=Rating
Bowlers

             Player Team Rating
0       Trent Boult   NZ    722
1  Mujeeb Ur Rahman  AFG    701
2    Jasprit Bumrah  IND    700
3      Chris Woakes  ENG    675
4     Kagiso Rabada   SA    665
5    Josh Hazlewood  AUS    660
6     Mohammad Amir  PAK    647
7       Pat Cummins  AUS    646
8        Matt Henry   NZ    641
9      Jofra Archer  ENG    637

# Question 6 
Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

ii) Top 10 women’s ODI players along with the records of their team and rating.

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [5]:
url=('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [6]:
driver.get(url)

In [18]:
Team=[]
Matches=[]
Points=[]
Rating=[]

In [19]:
team_tags=driver.find_elements_by_xpath("//span[@class='u-hide-phablet']")
team_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="d892ca9a-6b43-4709-bf42-0a758e9e12df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="f0b114d8-18ef-47ea-ac71-7a9d14158e75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="17306af8-0203-41bf-ba30-654e70d83508")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="f2bb0579-a500-45c2-a727-7b30e809cbf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="ed1635ca-f4e8-4290-95c4-5e1265f9efcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="16af2af4-e999-4c28-b743-c6dea22bd769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="124a0f53-39e6-4bee-b3b2-eb29d8cb1644")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="e1578f3a-df8a-4f24-9b92-c306bb7a6d79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="0a6f075e-da04-4d27-b859-547dc0fc801e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d85f9b470d7157e030075f678841010", element="ad8989d2-642e-4019-bf13-58d5e84e44df")>]

In [20]:
for i in team_tags:
    team=i.text
    Team.append(team)
Team

['Australia',
 'India',
 'England',
 'South Africa',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [21]:
#let's extract the first element of matches
matches_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--matches']")
matches_tags

In [22]:
for i in matches_tags:
    matches=i.text
    Matches.append(matches)
Matches

['15']

In [23]:
#let's extract the first element of points tag as well
points_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--points']")
points_tags

In [24]:
for i in points_tags:
    points=i.text
    Points.append(points)
Points

['2,436']

In [25]:
#Now, let's scrap the rest of the matches and points as they are in the same class
matches_points=driver.find_elements_by_xpath("//td[@class='table-body__cell u-center-text']")

Now, the above elements are alternatively arranged in Matches and Points one by one. So, we will use a for loop and assign all the even values as matches and odd values as points

In [26]:
n=0
for i in matches_points:
    if n%2==0:
        matches=i.text
        Matches.append(matches)
        n+=1
    else:
        points=i.text
        Points.append(points)
        n+=1

In [27]:
Matches=Matches[0:10]
Matches

['15', '15', '14', '16', '15', '12', '12', '5', '11', '2']

In [28]:
Points=Points[0:10]
Points

['2,436',
 '1,812',
 '1,670',
 '1,713',
 '1,384',
 '1,025',
 '927',
 '306',
 '519',
 '25']

In [29]:
#Now, let's extract the first element of the rating 
rating_tag=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--rating u-text-right']")
rating_tag

In [31]:
for i in rating_tag:
    rating=i.text
    Rating.append(rating)
Rating

['162']

In [32]:
#Extracting rest of the ratings
rating_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right rating']")

In [33]:
for i in rating_tag:
    rating=i.text
    Rating.append(rating)
Rating

['162', '121', '119', '107', '92', '85', '77', '61', '47', '13']

In [35]:
Team_Ranking=pd.DataFrame({})
Team_Ranking['Team']=Team
Team_Ranking['Matches']=Matches
Team_Ranking['Points']=Points
Team_Ranking['Rating']=Rating
Team_Ranking

           Team Matches Points Rating
0     Australia      15  2,436    162
1         India      15  1,812    121
2       England      14  1,670    119
3  South Africa      16  1,713    107
4   New Zealand      15  1,384     92
5   West Indies      12  1,025     85
6      Pakistan      12    927     77
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13

### Part 2: Top 10 women’s ODI players along with the records of their team and rating

In [36]:
url=('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [37]:
driver.get(url)

In [49]:
Player=[]
Team=[]
Rating=[]

In [50]:
#Getting the first player
player_tag=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--name-large']")

In [51]:
for i in player_tag:
    player=i.text
    Player.append(player)
Player

['Meg Lanning']

In [53]:
#getting the rest of the players
player_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']")

In [54]:
for i in player_tag:
    player=i.text
    Player.append(player)
Player=Player[0:10]
Player

['Meg Lanning',
 'Stafanie Taylor',
 'Alyssa Healy',
 'Smriti Mandhana',
 'Amy Satterthwaite',
 'Tammy Beaumont',
 'Ellyse Perry',
 'Lizelle Lee',
 'Laura Wolvaardt',
 'Mithali Raj']

In [55]:
#Getting the first team
team_tag=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--nationality']")
team_tag

In [56]:
for i in team_tag:
    team=i.text
    Team.append(team)
Team

['AUS']

In [58]:
#Getting the rest of the teams
team_tag=driver.find_elements_by_xpath("//span[@class='table-body__logo-text']")

In [59]:
for i in team_tag:
    team=i.text
    Team.append(team)
Team=Team[0:10]
Team

['AUS', 'WI', 'AUS', 'IND', 'NZ', 'ENG', 'AUS', 'SA', 'SA', 'IND']

In [60]:
#getting the first rating
rating_tag=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--rating']")

In [61]:
for i in rating_tag:
    rating=i.text
    Rating.append(rating)
Rating

['749']

In [62]:
rating_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")

In [63]:
for i in rating_tag:
    rating=i.text
    Rating.append(rating)
Rating=Rating[0:10]
Rating

['749', '746', '741', '732', '723', '716', '691', '690', '689', '687']

In [64]:
#Creating the dataframe of top 10 batsmen
Batswomen=pd.DataFrame({})
Batswomen['Player']=Player
Batswomen['Team']=Team
Batswomen['Rating']=Rating
Batswomen

              Player Team Rating
0        Meg Lanning  AUS    749
1    Stafanie Taylor   WI    746
2       Alyssa Healy  AUS    741
3    Smriti Mandhana  IND    732
4  Amy Satterthwaite   NZ    723
5     Tammy Beaumont  ENG    716
6       Ellyse Perry  AUS    691
7        Lizelle Lee   SA    690
8    Laura Wolvaardt   SA    689
9        Mithali Raj  IND    687

### Part 3: Top 10 women’s ODI all-rounder along with the records of their team and rating

In [65]:
url=('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')

In [66]:
driver.get(url)

In [67]:
Player=[]
Team=[]
Rating=[]

In [68]:
#getting the top bowler first
player_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--name-large']")

In [69]:
for i in player_tags:
    player=i.text
    Player.append(player)
Player

['Jess Jonassen']

In [70]:
#getting the rest of the bowler names
player_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']")

In [71]:
for i in player_tags:
    player=i.text
    Player.append(player)
Player=Player[0:10]
Player

['Jess Jonassen',
 'Marizanne Kapp',
 'Megan Schutt',
 'Shabnim Ismail',
 'Jhulan Goswami',
 'Poonam Yadav',
 'Shikha Pandey',
 'Ellyse Perry',
 'Anya Shrubsole',
 'Deepti Sharma']

In [72]:
#Let's get the top player's team
team_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--nationality']")

In [73]:
for i in team_tags:
    team=i.text
    Team.append(team)
Team

['AUS']

In [74]:
team_tags=driver.find_elements_by_xpath("//span[@class='table-body__logo-text']")

In [75]:
for i in team_tags:
    team=i.text
    Team.append(team)
Team=Team[0:10]
Team

['AUS', 'SA', 'AUS', 'SA', 'IND', 'IND', 'IND', 'AUS', 'ENG', 'IND']

In [76]:
#Let's get the top rating first
rating_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--rating']")

In [77]:
for i in rating_tags:
    rating=i.text
    Rating.append(rating)
Rating

['804']

In [78]:
#Let's get the further ratings
rating_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")

In [79]:
for i in rating_tags:
    rating=i.text
    Rating.append(rating)
Rating=Rating[0:10]
Rating

['804', '738', '735', '717', '691', '679', '675', '666', '645', '639']

In [80]:
Bowlers=pd.DataFrame({})
Bowlers['Player']=Player
Bowlers['Team']=Team
Bowlers['Rating']=Rating
Bowlers

           Player Team Rating
0   Jess Jonassen  AUS    804
1  Marizanne Kapp   SA    738
2    Megan Schutt  AUS    735
3  Shabnim Ismail   SA    717
4  Jhulan Goswami  IND    691
5    Poonam Yadav  IND    679
6   Shikha Pandey  IND    675
7    Ellyse Perry  AUS    666
8  Anya Shrubsole  ENG    645
9   Deepti Sharma  IND    639

# Question 7 
Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The
scraped data should include Product Name, Price, Image URL and Average Rating

In [10]:
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException

In [51]:
url=('https://www.amazon.in/s?i=electronics&bbn=1389401031&rh=n%3A976419031%2Cn%3A1389401031%2Cn%3A1389432031%2Cp_36%3A-2000000&dc&qid=1610913853&rnid=1389401031&ref=sr_nr_n_3')

In [52]:
driver.get(url)

In [67]:
Product=[]
Price=[]
Img=[]
Rating=[]

In [68]:
delay=5
try:
    for i in range(0,300):
        for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']"):
            Product.append(i.text)
        for j in driver.find_elements_by_xpath("//span[@class='a-price-whole']"):
            Price.append(j.text)
        img_tag=driver.find_elements_by_xpath("//img[@class='s-image']")
        for k in img_tag:
            Img.append(k.get_attribute('src'))
        for l in driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span[1]"):
            Rating.append(l.get_attribute('aria-label'))
    WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'a-last')))
    driver.find_element_by_xpath("//li[@class='a-last']").click()
except TimeoutException as e:
    print("Exception Raised",e)

In [74]:
print(len(Product),len(Price),len(Img),len(Rating))

8700 8700 8700 6900

In [ ]:
#here, we have the ratings of only top 6900 entries which are featured on top. hence, we will fill the rest will null values

In [76]:
Amazon=pd.DataFrame({})
Amazon['Product']=Product[0:6900]
Amazon['Price']=Price[0:6900]
Amazon['Image']=Img[0:6900]
Amazon['Rating']=Rating

In [77]:
Amazon.head()

,Product,Price,Image,Rating
0,IKALL K100 Dual Sim Multimedia 1.8 Inch Mobile...,"1,229",https://m.media-amazon.com/images/I/61ehdqsYmP...,2.4 out of 5 stars
1,IKALL K43 with 1.8 Inch Colour Display Multime...,669,https://m.media-amazon.com/images/I/51Z43GBX6v...,2.1 out of 5 stars
2,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","11,990",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.0 out of 5 stars
3,"Samsung Galaxy M31 (Iceberg Blue, 6GB RAM, 128...","15,999",https://m.media-amazon.com/images/I/71ZsMOcpeP...,4.2 out of 5 stars
4,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128G...","15,999",https://m.media-amazon.com/images/I/71OxJeyywS...,4.2 out of 5 stars

In [78]:
Amazon.tail()

,Product,Price,Image,Rating
6895,"Redmi Note 9 Pro Max (Champagne Gold, 6GB RAM,...","14,999",https://m.media-amazon.com/images/I/81Ox29uGzN...,3.7 out of 5 stars
6896,"Redmi 9 Power (Mighty Black, 4GB RAM, 128GB St...","11,999",https://m.media-amazon.com/images/I/71Mg51D9C6...,3.7 out of 5 stars
6897,"Redmi 9 Power (Electric Green, 4GB RAM, 128GB ...","11,999",https://m.media-amazon.com/images/I/71anKhv48F...,4.2 out of 5 stars
6898,"Redmi Note 9 Pro (Champagne Gold, 4GB RAM, 64G...","12,999",https://m.media-amazon.com/images/I/81Ox29uGzN...,3.4 out of 5 stars
6899,"Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB ...","5,999",https://m.media-amazon.com/images/I/71AYb2AGHX...,4.2 out of 5 stars

# Question 8
***Write a python program to extract information about the local weather from the National Weather Service
website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day
extended forecast display for the city. The data should include period, short description, temperature and
description. ***

In [4]:

url = "https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YAT01ugzbDc"
page = requests.get(url)
soup = BeautifulSoup(page.content,"html.parser")


periods=[]
short_descriptions=[]
temps=[]
descriptions=[]


period=soup.find_all('p',class_='period-name')
for i in period:
    periods.append(i.text)


short_description=soup.find_all('p',class_='short-desc')
for i in short_description:
    short_descriptions.append(i.text)


temp=soup.find_all('p',class_='temp')
for i in temp:
    temps.append(i.text)


description=soup.find_all('div',class_='col-sm-10 forecast-text')
for i in description:
    descriptions.append(i.text)

In [5]:
import pandas as pd
weather=pd.DataFrame({})
weather['periods']=periods[:7]
weather['short_descriptions']=short_descriptions[:7]
weather['temps']=temps[:7]
weather['descriptions']=descriptions[:7]

In [6]:
weather

,periods,short_descriptions,temps,descriptions
0,Today,Mostly Sunny,High: 60 °F,"Mostly sunny, with a high near 60. Calm wind b..."
1,Tonight,Slight ChanceShowers,Low: 48 °F,A 20 percent chance of showers after 11pm. Mo...
2,Friday,ChanceShowers,High: 56 °F,"A 50 percent chance of showers. Partly sunny,..."
3,FridayNight,Slight ChanceShowers,Low: 43 °F,A 20 percent chance of showers. Partly cloudy...
4,Saturday,Sunny,High: 58 °F,"Sunny, with a high near 58. North northeast wi..."
5,SaturdayNight,Mostly Clear,Low: 44 °F,"Mostly clear, with a low around 44."
6,Sunday,ShowersLikely,High: 55 °F,"Showers likely after 11am. Mostly cloudy, wit..."